body {
  background-color: #222226;
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;

  grid-template:
  "h h"
  "n c";

  grid-text-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #333336;
  color: #fff;
}

.app-wrapper-content img {
  width: 100%;
  height: 200px;
}